.container{
    display: grid;
    grid-template-columns: 60% 40%;
}
.form{
    display: flex;
    flex-direction: column;
    place-self: center;
}
.form h1{
    align-self: center;
}
.form input{
    width: 20rem;
    height: 2rem;
    font-size: medium;
    margin: 2rem;
}
.form button{
    width: 20rem;
    align-self: center;
}